.App {
  text-align: center;
}
.imageNavbarUser{
  width:35px;
  height: 35px;
  border-radius: 50%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.modelDiv{
  width:100%;
  height:100%;
  padding:20px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.sizeable{
  -webkit-transition:all .5s ease; /* Safari y Chrome */
  -moz-transition:all .5s ease; /* Firefox */
  -o-transition:all .5s ease; /* IE 9 */
  -ms-transition:all .5s ease; /* Opera */
}
.sizeable:hover{
-webkit-transform:scale(1.15);
-moz-transform:scale(1.15);
-ms-transform:scale(1.15);
-o-transform:scale(1.15);
transform:scale(1.15);
}
.minisizeable{
  -webkit-transition:all .5s ease; /* Safari y Chrome */
  -moz-transition:all .5s ease; /* Firefox */
  -o-transition:all .5s ease; /* IE 9 */
  -ms-transition:all .5s ease; /* Opera */
}
.minisizeable:hover{
-webkit-transform:scale(1.05);
-moz-transform:scale(1.05);
-ms-transform:scale(1.05);
-o-transform:scale(1.05);
transform:scale(1.05);
}
.loginDiv{
  width:100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.aguayodevs.com/images/hotel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  align-items: center;
  text-align: center;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.loginContentCard{
  width:100%;
  opacity:2;
  text-align: center;
}
.loginCard{
  width:500px;
  border-radius:10px;
  opacity:0.8;
  background: #1e1e1e;
  padding:20px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.alineado{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.centrado{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.principal{
  width:100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.backgroundTech{
  background-image: url("https://www.aguayodevs.com/images/hotel2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.inputBdk{
  padding: 3px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow:2px 2px 2px #000;
  font-family:FontAwesome,Arial;
  font-size: 15px
}
.fila{
  display: flex;
  flex-direction: row;
}
.columna{
  display: flex;
  flex-direction: column;
}
.loginBdkPos{
  background-image: url("http://www.bdksistemas.com.mx/assets/img/BDKPOS_Image01.png");
  background-repeat: no-repeat;
  background-size: cover;
}
